[2018-02-13 10:28] garrows opened #3 "Design logo"
Every year CampJS has had a new logo made up for the website, swag and stickers.

[2018-02-13 10:36] garrows opened #4 "CampJS slide deck to attract more CFP"
We need a short slide deck done up to send out to other meetups and groups to drum up more CFP.

Make sure it

1. Is short
2. Highlights diverse attendees in photos
3. Covers large range of talks (beginners, non-technical, etc)
4. Encourages first time speakers

[2018-02-13 11:24] garrows opened #6 "Budget"
Looking for some help with the budget. Just a spreadsheet will do.

Last year's receipts were all kept and can be found https://github.com/campjs/campjs-viii/pulls?q=is%3Apr+is%3Aclosed+assignee%3ADamonOehlman which is a good starting place.

This venue is a bit cheaper at $195 per person including meals. The maximum capacity is 150 people which I expect to hit or come close to.

[2018-02-16 04:01] garrows opened #9 "Refresh the sponsorship info"
https://github.com/campjs/campjs-viii/blob/master/org/sponsorship/campjs_viii_sponsor_plus.pdf

1. the code of conduct has been updated
2. The speakers might need to be refreshed
3. Could be less flashy. Bit hard to read.

[2018-02-17 04:27] AshKyd commented on #9
I've replaced the existing PDF with a printable HTML solution. Hopefully it will be easier to update & brand in future.

https://github.com/campjs/brochure-sponsorship-info
There's a preview here: https://blissful-lovelace-c1358e.netlify.com/

[2018-02-18 11:00] AshKyd commented on #4
Started work in a repo here: https://github.com/campjs/promo-meetup-resources

[2018-02-18 13:33] AshKyd opened #11 "Live captioning"
Inspired by chats with @AnnaGerber, we should look into whether we can do live captioning for our talks. Why?

* Up to 20% of people in the United States have some degree of hearing loss.
* Captioned English is much more accessible to speakers of other languages than spoken English alone.
* Our videos will already have caption transcripts after the event which we can put online without effort

We

[2018-02-18 13:36] AshKyd commented on #11
@garrows can you have a peek at these questions, or point me at someone who can answer 'em? :)

[2018-02-19 13:32] gupta-kartik commented on #6
While preparing for the sponsorship package, I crunched the numbers from last year's reciepts to get a ballpark for this year. Details in excel sheet
[Budget-2017.xlsx](https://github.com/campjs/campjs-ix/files/1736890/Budget-2017.xlsx)

[2018-02-26 10:46] gupta-kartik opened #14 "Projector Hire Koonjewarre"
Need to get quotes for Projector Hire from 10-13th August at Koonjewarre Camp, Gold Coast. We require:

- [ ] 3x projector + screen
- [ ] 3x sets of dongles (USBC➡HDMI, MiniDP➡HDMI)
- [ ] 3x microphone + speaker + amp
- [ ] delivery + setup

[2018-02-26 10:47] gupta-kartik opened #15 "Heater Hire Koonjewarre"
Need quotes on Heater Hire for Koonjewarre for 10-13 August. About 7-10 Heaters should be fine.

[2018-02-26 10:48] gupta-kartik opened #16 "Network Setup"
Network, intranet and internet setup for Koonjewarre for 10-13 August. Network should work across main hall, workshop room and one seminar room/area. Quotes wanted.

[2018-02-26 10:51] gupta-kartik opened #17 "Name badges"
We are planning to have the following coloured lanyards (edited: 3.3.18)

* green for helpers / volunteers / organizers - 25
* orange for no photography please - 25
* black for everyone else - 140

We aim to have these sponsored by an organisation. Quotes needed. Last year, 200 same coloured lanyards and pouches cost us about $320.

[2018-02-26 10:53] thissophie commented on #14
@gupta-kartik does the venue provide PA equipment? In the past we’ve gone with getting the PA & projector gear from the same vendor.

For reference last year we had:
3x projectors (two talks + workshop room) with 10M HDMI cables
3x 100” screens
3x microphones
3x speakers with built in amps

[2018-02-26 10:57] gupta-kartik opened #18 "CampJS Badges"
Last year we had paper badges in plastic sleeves. This year we aim to do this a little differently. CrikenCon recently had small computing boards that came with assembly instructions, see image attached. These were made by https://greatscottgadgets.com/

We need ideas and if so quotes on 150-200 of these.
![dwwav3ru8aayefh](https://user-images.githubusercontent.com/4622084/36666796-703d9c06-1b37-1

[2018-02-26 11:31] gupta-kartik opened #19 "CampJs Merchandise"
2017 we had CampJS blankets which cost about $4000. We need ideas on merchandise to include this year. This should be CampJS merchandise. Open to see if this could be sponsored i.e. can include CampJS logo + sponsor logo.

[2018-02-26 11:33] gupta-kartik opened #20 "Buses and Transport"
2 or 3 buses from Gold Coast Airport (OOL) to Koonjewarre Afternoon and Evening on Friday 10th August and 2 or 3 buses back from Koonjewarre to OOL on Monday 13th August Morning.

[2018-02-26 11:35] developersteve commented on #16
I might know a company that could be interested in doing an in-kind sponsorship for internet and network things if thats an option

[2018-02-26 21:09] garrows commented on #19
Last year there was a long discussion about shirts. Some wanted shirts, others didnt. We went with blankets instead (the limited shirts were from the year before).

I propose the merch isn't included in the ticket this year which will make the tickets $20-$30 cheaper.
Instead, we could setup an online store. Here is a good example https://www.redbubble.com/people/danvogt/shop

[2018-03-01 10:48] AnnaGerber commented on #18
I liked it when the CampJS badges were big cardboard things where we could write our names and whatever else we wanted like Twitter handle in large letters. Bonus points if there are a bunch of stickers and sharpies so you can customize them

Here are some examples of hardware badges: https://hackspace.raspberrypi.org/features/badgelife-the-art-of-the-conference-badge
This article goes into their

[2018-03-01 10:54] AnnaGerber commented on #17
Why no love for yellow? :)

Reflecting our discussion the other day, simplify to:

- green for helpers / volunteers / organizers
- orange for no photography please
- black for everyone else

[2018-03-01 10:57] AnnaGerber commented on #19
Socks were a popular option during last year's discussions too

[2018-03-02 10:55] mcne65 commented on #19
I would personally not go with anything at all - just stickers.

[2018-03-02 10:56] mcne65 commented on #11
I would definitely love this as I have a hearing loss myself and am based in Australia! Can you tell me what can be done?

[2018-03-03 03:06] gupta-kartik opened #21 "Photography/Videography"
We need 2 photographers and videographers for the weekend and post image processing help too.

[2018-03-03 03:07] gupta-kartik opened #22 "RSA Hire"
Last year we had an RSA certified bartender to hand out beer on Saturday/Sunday night. Was this a good idea, should we do this again this year?

[2018-03-03 03:09] gupta-kartik commented on #19
I like the idea of just having stickers and CampJS merchandise like Tshirts, socks for sale. We need a logo designer for this year too. I'll open an issue for that.

[2018-03-03 03:12] gupta-kartik commented on #3
The logo will be present on all communication from CampJS, brochures, banners, website and even email signatures. If you are interested in submitting a logo, get in touch at organisers@campjs.com

[2018-03-04 05:56] AshKyd commented on #3
We've had some awesome peeps submit art in the past, but considering the effort involved each camp we should consider whether there's budget and/or appetite to pay someone professionally.

There's been talk of iterating rather than rebranding for every camp, so that might make this a better investment. Food for thought.

[2018-03-05 10:59] gupta-kartik commented on #3
![campjs-logo](https://user-images.githubusercontent.com/4622084/36971593-0b261038-20b8-11e8-82e6-607c1fdb7f8e.jpg)

Thanks to alan.y.myers@gmail.com for the logo!

[2018-03-05 10:59] #3 closed

[2018-03-05 13:54] AshKyd opened #23 "Code of conduct"
We have a code of conduct, but there are a few things we need to work through before and during the event.

- [ ] codify the procedure behind the code of conduct, eg. what happens when something happens? See [Geek Feminism Wiki](http://geekfeminism.wikia.com/wiki/Conference_anti-harassment/Policy_resources) for guidelines. (Planning to base this on the work we did for BrisJS, but if anyone has inp

[2018-03-05 13:56] AshKyd opened #24 "Advertise the CFP"
We need to advertise the camp and the CFP, particularly to underrepresented groups who might not know about the camp or whether it's for them.

I'm speaking with folks from around the community who have been involved previously, folks I think might be interested, and people who have gotten in touch to help out. I don't know everyone who was involved previously, so if I've missed you and you'd like

[2018-03-05 14:02] AshKyd commented on #11
@mcne65 Just waiting on @garrows or someone else who might know the answer to the technical questions above.

If it's technically do-able, then we can get some prices and hopefully find a sponsor willing to make it happen.

[2018-03-05 14:05] AshKyd opened #25 "Childcare"
This issue is a stub, feel free to add to it. :)

Requires
- [ ] Quotes (previous camps estimated 8-10 kids would would cost $1138 for carers + activities)
- [ ] Sponsorship
- [ ] Promotion so folks know it's a thing
- [ ] Some way of indicating whether this is required as part of the ticketing

[2018-03-05 14:13] AshKyd opened #26 "General diversity & inclusiveness initiatives (tbd)"
At the moment this is the "misc" issue for items that don't have their own issue yet. If you'd like to help make any of these happen, please get in touch.

See the [diversity and inclusiveness](https://github.com/campjs/campjs-ix/labels/diversity%20%26%20inclusiveness) label for the issues that have been broken out already.

The remainder of the things we want to look into this time around:

* Non

[2018-03-05 14:24] AshKyd opened #27 "Accessibility research & statement"
We need to be clear about what CampJS can and can't provide.

For instance, we may need to provide accessible accommodation in the dormitory units (near the hall) as the family units (downstairs) aren't really accessible.

Some things we need to do:
- [ ] check what the folks at koonjewarre already have in terms of accessibility info
- [ ] check the gradient of the outdoor ramp
- [ ] find out wher

[2018-03-05 15:01] MauriceButler commented on #11
koonjewarre has a landline, whether we can tie it up or not I am not sure, we would have to contact the venue and ask.

If a landline is a necessity this locks us to being only able to caption one talk at a time?

[2018-03-05 23:40] AshKyd commented on #11
Sounds about right.

At this stage we're looking at having just the two streams; a talk stream and a workshop stream. I figure we can caption talks at the least, but probably do the intro/outro sessions as well.

[2018-03-07 10:45] AnnaGerber commented on #27
This guide looks comprehensive: http://www.meetingsevents.com.au/downloads/Accessible_Events_Guide.pdf

[2018-03-08 03:02] AshKyd commented on #27
Thanks @AnnaGerber that's awesome. :)

[2018-03-12 12:04] AshKyd opened #31 "Draft schedule"
Work out a skeleton schedule so we know how many speakers we can fit, etc.

This should have:

* bus travel
* intro speaking
* meals
* 2 tracks: talks & workshops
* anything else?

[2018-03-12 12:08] AshKyd opened #32 "Blog post introducing the organizers & explaining what's going on"
This should cover:

* what's different this time
* who we are
* what we're working on
* other?

[2018-03-13 11:41] AnnaGerber commented on #31
In case it helps, draft schedule from the last camp is here: https://docs.google.com/document/d/1jbmEzycn89KeOWKYO7IU1SUR7vKvk40Zw1FArb_u_cg/edit

[2018-03-14 10:20] AshKyd commented on #27
@garrows Here's some suggested things to check for when you get in touch with the venue.

[2018-03-14 12:02] justindra commented on #21
I can possibly help with the photography side of things.

[2018-03-21 11:22] AshKyd commented on #31
That's rad, thanks Anna.

I've [made a start on a schedule here](https://docs.google.com/spreadsheets/d/1KGAqCawT_vhkLJWdiAsu7WtaoA86eIVd4XPD4kvmqxc/edit#gid=0) but I'm mainly focusing on talks right now so we know what we need to budget. Based it loosely on the CSSConf schedule, and also put in a fair whack of time for lightning talks at the end.

Hopefully in this format someone can use the data

[2018-03-21 11:23] #31 closed

[2018-03-21 11:40] AshKyd commented on #11
I've emailed off asking for a quote based on the timetable work in #31, will see what they say

[2018-03-26 00:45] AshKyd commented on #9
Things to consider:

1. This is a LOT of sponsors we need. Should we combine the 2x bus sponsors
1. This doesn't include childcare or captions

[2018-03-26 08:27] AshKyd opened #34 "Shopping list"
This is going to need to be a Coles/Woolworths order in advance. Items taken from [shopping list from previous camp](https://github.com/campjs/campjs-viii/issues/95).

Items denoted ❓ indicate that we bought these last time and can we reuse them?

Food & Snacks
--------------------
- [ ] Juice
- [ ] Flavoured milk + soy milk
- [ ] Ginger beer
- [ ] Fruit
- [ ] Nuts
- [ ] Bottled water
- [ ]

We al

[2018-03-26 08:34] AshKyd opened #35 "Speaker guide"
Some notes:

* Consider white on black slides to increase contrast on the projected screen.

From last time (thanks @AnnaGerber):

Tips for preparing slides and other presentation content:

1. Ensure your presentation conforms with the Code of Conduct
1. Avoid putting text too close to the edges (projectors sometimes cut off the edges / top / bottom)
1. Make sure you use text that is large enough

[2018-03-26 08:58] AshKyd opened #36 "Code of Conduct training/workshop"
TBD so I remember to work on this

[2018-04-03 13:27] AshKyd opened #37 "Accommodation types"
Previous camps have been separated by womens and mens dorms. This is somewhat exclusionary and we've had feedback that it can be a bit off-putting.

Should we change this to something like:
1. women's dorms
1. family dorms (for families, particularly with kids)
1. general, non-gendered dorms for anyone who doesn't want to take up one of the other two options

We obvs still offer:
* bring-a-tent
*

[2018-04-03 13:34] AshKyd opened #38 "Attendee preferences"
# What do we need to know from attendees?

1. Food preference/allergies
1. Accommodation preference (#37)
1. Photography preference (#17)
1. Bus/transport preference (#20) *
1. Optional: demographic info?

This was implemented into the ti.to ticketing process.

[2018-04-03 13:34] AshKyd opened #39 "Gender neutral bathrooms"
For the purposes of gender-neutral bathrooms: does Koonjewarre have any toilets in the common areas, or are they all limited to the dorms?

If they're limited to the dorms, then this is a non-issue. But if we have any in shared spaces we should ensure we have gender-neutral bathrooms available.

[2018-04-03 13:36] AshKyd opened #40 "Signage"
We will need signage (printouts + blu tac, probably) for the following. Please add to the list if you can think of anything else that would benefit:

* Code of conduct info
* Maps of the venue
* Schedule (nice to have)
* Signs for on the doors of each dorm (#37) to indicate whether it's:
* * Women's dorms
* * non-gendered dorms
* * Family dorms
* * Snorer's dorms
* Bathroom signage (see #39)
* Sig

[2018-04-03 13:59] thissophie commented on #37
I think this is what happened at VIII, with the addition of a marked snorers cabin.

[2018-04-07 13:19] mcne65 commented on #26
Could we also have people with disabilities available also who would like to come along? And the designated quiet space sounds like it's for this market.

[2018-04-08 20:42] garrows commented on #38
This was organised last time using ti.to which has a questionnaire section during signup.
Photography preference was asked when handing out lanyards.

[2018-04-08 20:47] garrows commented on #39
They are in common areas plus some in the family dorms.
We need signs to cover up the gendered signs though.

[2018-04-08 20:47] #39 closed

[2018-04-09 12:54] AshKyd commented on #38
Cool. Let's also do photography preference at ticketing time so we know more accurately how many lanyards we need.

[2018-04-09 13:15] AshKyd commented on #26
@mcne65 For sure. We've got an issue open over in #27 to get in touch with the venue for some more info concerning the physical accessibility of the camp, because I want to make sure we can actually accommodate folks properly. Is that kinda what you're thinking?

[2018-04-09 13:16] mcne65 commented on #26
Definitely! Also if there is cabins which are less noisy for those folks who have sensory issues if so...

[2018-05-22 01:40] mcne65 commented on #38
I think people should be aware that @garrows there will be photography being taken on those days, so how about just writing that down on sheet? No, demographics should be changed to any accessibility needs so that we can accommodate for those with disabilities and how we can support them. There should also be something for people who are bringing their cars or not and whether they can offer a drop

[2018-05-22 01:41] mcne65 commented on #40
What about something just for reminders on accessibility issues? Also will there be a camping area?

Thank you
Sirani McNeill

[2018-05-22 01:42] mcne65 commented on #36
I would be more than happy to host this part as I have knowledge in this area @garrows

[2018-05-22 01:45] mcne65 commented on #34
Why don't we ask participants though who are going on the bus if they would like to stop at Dan Murphy's for some wine and a supermarket/market area for some food before getting to campsite? Also bring out rubbish bins if possible. I would bring extra stuff just in case, mainly sweets/chocolate/candies at bulk .

[2018-05-22 01:47] mcne65 commented on #32
Would you like me to contribute to this part @AshKyd @garrows - I will do it this weekend

[2018-05-22 01:51] mcne65 commented on #27
Apart from live captioning, will there be a speaker/microphone in the room for the talks for accessibility also? And will there be a time out space?

[2018-05-22 01:51] mcne65 commented on #25
Does the camp organise this at all?

[2018-05-22 01:53] mcne65 commented on #11
What have they said for this particular issue?

[2018-05-22 01:53] mcne65 commented on #17
Have you started on this yet? Would love to help out in making them!

[2018-05-22 01:55] mcne65 commented on #20
Apart from the buses arriving and departing for the number of people accommodated, how about also who would be driving up from other parts of Australia and if they would like to take guests in their car for that

[2018-05-22 01:56] mcne65 commented on #35
There are just too many speakers! How about some of them to be turned into a workshop and some for talks at same time?

[2018-05-22 02:56] AnnaGerber commented on #35
I believe the intention for this camp is to schedule far fewer talks this camp than last one (i.e. a single track of talks only)

[2018-05-22 03:20] gupta-kartik commented on #20
That is a good idea @mcne65

[2018-05-22 03:21] gupta-kartik commented on #17
@mcne65 not yet but thanks a lot! I don't think we will be making them, just buying some in bulk and using them

[2018-05-22 08:47] AshKyd commented on #20
from @mcne65:

@mcne65: as you're interested in this would you be able to do up a schedule for the buses? Basically when they leave the airport, where and when they should stop, and what time they'll arrive at camp? You can probably find what we've done for previous camps, but this time I think it will be a different route because one of the roads is closed. So maybe use Google Maps for time estim

[2018-05-22 08:48] AshKyd commented on #34
Yup. This is a (stub) shopping list for the organizers, I've added your other comment to the buses issue.

[2018-05-22 08:57] AshKyd commented on #38
This is a diversity and inclusiveness feature we're adopting from many other conferences. If you'd like more info as to why we're doing this, check out this [ada initiative post](https://adainitiative.org/2013/07/04/another-way-to-attract-women-to-conferences-photography-policies/).

[2018-05-22 09:04] AshKyd commented on #36
Great. This is intended to introduce volunteers who have indicated they're willing to help out with enforcing the code of conduct. I'd love to use [this model](http://geekfeminism.wikia.com/wiki/Anti-harassment_policy_resources) because the resources are pretty great, but let me know what you think.

If you're offering, it would be great to formalize how to handle incidents, as well as come up wit

[2018-05-22 09:06] AshKyd commented on #11
I have a quote for around $3500. We're hamstrung on budget at the moment so can't make any decisions yet.

[2018-05-22 09:06] AshKyd commented on #25
Yes.

[2018-05-22 09:11] AshKyd commented on #27
1. yes.
2. that's the intention. It's listed in #26 but I don't know the space well enough to say _where_. Anna has suggested there's space upstairs. Created an issue in #50

[2018-05-22 10:56] cathylill commented on #25
Last year the best quote was from http://abrachild.com.au/events-mobile-pop-up-creche/. The pricing structure was a bit complicated but it was something like $40 per hour per carer (min 2 carers for 4hrs) + 2hrs per carer per day for setup / tear down + $15 per child per day for activity supplies. They required an indoors space with access to a sink with hot water, microwave and change table. Numb

[2018-05-22 11:36] mcne65 commented on #20
Only problem is I am not familiar with Gold Coast roads!

[2018-05-23 10:48] AshKyd commented on #25
Thanks @cathylill, that's great . That raises a good point as to _where_ this space will be, I presume we can set an area aside in the farmhouse.

I've gone back to your work on [CampJS VIII](https://github.com/campjs/campjs-viii/issues/18) which is also awesome. Wondering, was the 10 AM-12 PM + 2PM -4 PM childcare proposal based around when talks were running?

[2018-05-23 11:14] AshKyd commented on #20
Same here. I figured we'd use Google Maps :)

[2018-05-24 08:51] AshKyd opened #46 "Networking & wifi at camp"
CampJS provide a base level of Internet access, as well as a basic Intranet presence. Previous issues: [1](https://github.com/campjs/campjs-next/issues/11) & [2](https://github.com/campjs/campjs-next/issues/10).

<dl>
  <dt>Internet/wifi/transport layer</dt>
  <dd>@digitalcraft: I understand you've looked after this in previous years. Are you keen to handle networking at the upcoming CampJS provid

[2018-05-24 09:07] AshKyd commented on #34
Assigning this to Garrows to work out how much of this stuff we still have from last camp and remove it from the list if necessary.

[2018-05-24 09:11] AshKyd commented on #46
Regarding [emergency contact stuff Glen mentioned on a previous issue](https://github.com/campjs/campjs-viii/issues/11#issuecomment-314573197), I believe we're fully serviced by cell connectivity so folks should be able to call emergency services at any time. We should make sure camps are always within cell coverage in future.

[2018-05-24 09:25] AshKyd commented on #14
Throwing it out there, Koonjewarre is always a very bright venue and the projector is real difficult to see in the main presentation area.

* Would one or more TVs be easier to make out what's going on?
* OR should we consider sourcing some makeshift blackout blinds?

[2018-05-24 09:40] AshKyd opened #47 "Alcohol at camp (how to do?)"
This is a somewhat controversial issue as apparently the BYO drinks wasn't popular at the previous camp we tried it at. That said, we need to work out how this works. Previous camps we have had a bartender with a RSA provide drinks (#22), but I'm unclear what this achieved.

We need to work out whether/how we can legally serve drinks, and what kind of insurance we need to cover this.

[2018-05-24 09:42] AshKyd opened #48 "Refrigeration"
We need to look into refrigeration + whether we need to hire fridges. Things to consider:

- [ ] Space for parents to safely store baby goods
- [ ] Space for attendees to store personal drinks/items
- [ ] Space to store free-for-all drinks provided by the camp

I know previous Koonjewarre camps we've had ice boxes outside which is fine for drinks, but not appropriate for baby stuff. Perhaps a hybr

[2018-05-24 09:42] #24 closed

[2018-05-24 09:45] AshKyd commented on #16
Oops, I duplicated this in #46 with a bit more info.

[2018-05-24 09:45] #16 closed

[2018-05-24 10:00] AshKyd commented on #47
When we spoke to the lawyers they suggested we may be able to _sell_ alcohol, and checking out the Queensland licensing info we can [apply for a permit](https://ablis.business.gov.au/service/queensland/community-liquor-permit/35388) (I don't think the exemptions apply for us, because we're a several day affair)

It's unclear whether we can provide free alcohol. @gupta-kartik @garrows do you rememb

[2018-05-24 10:05] #4 closed

[2018-05-24 10:08] AshKyd opened #49 "Questions for Koonjewarre"
There are a number of questions we need to ask the venue, I'm going to group them all here so I can call/email them through.

General
-------
- [ ] ~~What kind of internet connection/connection speed do you have? (aka is it reliable enough to do live captioning #11)~~ - it's not wired, probably not appropriate for captioning.
- [ ] What kind of fridge space is available (aka is there space for par

[2018-05-24 10:24] AshKyd opened #50 "Designated quiet/escape/time-out space"
This is something a few folks are keen on (me included), because sometimes you just need to get away from it all. Nothing set in stone yet, but could have:

* a comfortable place to lounge ^_^ (bean bags? yoga mats for folks who want to stretch out?)
* a screen with a stream of the talks (could be difficult, does someone have ideas or want to try and make this work?)
* Book swap? (Does the benefit

[2018-05-24 11:21] AshKyd opened #51 "Talk review process"
This process is already underway, but including this issue to track that + log feedback.

From one participant:

[2018-05-24 11:39] AshKyd opened #52 "Book swap"
In order to make the book swap a success this year it might help to have a bit of a campaign around it.

Would someone like to take ownership of this? This might involve things like:

- [ ] Write a few pars explaining what the book swap is, how it usually works, and how to participate in it. We can add this to the website + send that out as part of the CampJS newsletter
- [ ] Maybe write a blog po

[2018-05-24 12:06] SomeoneWeird commented on #49
The (local) networking setup at Koonjewarre was done by CampJS previously (maybe at IV?) - and the internet wasn't great. That being said might be worth asking if they have NBN now. Also worth checking if they have a bandwidth cap.

[2018-05-24 12:20] AshKyd commented on #49
Good points @SomeoneWeird. I'm hoping we can set up the 4g system again in #46. For the purposes of live captioning in #11 we'll need a sturdy connection to send the audio feed, so hoping we can use the landline solely for that.

[2018-05-24 12:21] AshKyd commented on #18
I'm with Anna. Closing this one to combine this one with #17

[2018-05-24 12:28] AshKyd commented on #17
Anna's suggestions sounds perfect. We should spin the name tags into this issue too, as it may make sense to get quotes from the same vendor.

Last camp the lanyards + pouches came in as  $318.50. I propose this time around we go with cardboard nametags to reduce plastic waste if possible. Not sure how if at all this will affect the cost.

Do we usually get the nametags printed? What's the opinion

[2018-05-24 12:36] AshKyd commented on #19
Then there's @AnnaGerber and @colingourlay seemed keen on screen printing a la JSConf. We'd need to come up with a screen-printable design + some budget to pay whoever we get to bring the equipment/run the show. Anyone want to look into what this would involve?

[2018-05-24 12:48] AshKyd opened #53 "Streaming talks over the internal network"
A few folks have suggested streaming talks over the internal network, so that the hall downstairs and the time out space in #50 can enjoy the talks too.

I'm not sure how possible this is, but would anyone like to give it a shot?

[2018-05-24 12:52] AnnaGerber commented on #17
Things that have been done for badges in the past:

- printed paper insert that went into a plastic sleeve (sometimes difficult to fit the insert into the sleeve)
- printed cardboard blanks matching the website art work with sharpies for writing own names / info with a hole punched in to suspend from lanyard (these were pretty nice but the badges tore off easily) see https://plus.google.com/photos

[2018-05-24 13:58] thissophie commented on #46
I'm up for helping out again (especially with anything that means that @digitalcraft isn't stuck behind the router for the entire weekend!) as well.

For last year we used a combination of DNS blocking & port filtering, mostly in an attempt to keep the LTE connection alive. If we are behind LTE again this year I think we need to ensure that the LTE modem isn't doing any of the NAT work (it really

[2018-05-24 14:21] thissophie commented on #53
I'm up for helping make this happen.

Ideally we'd get a video feed from the camera that we are using to record the talks for consumption after the event, and also a video feed showing whatever is on the projector. Alternatively we can throw an extra camera that aims to capture the presenter and the projector screen and use that purely for an internal stream.

From the camera / capture side I have

[2018-05-25 02:31] AshKyd commented on #46
That's great news, thanks @thepatrick, I'm super grateful. Hopefully between yourself and digitalcraft we can get this show on the road :D

Would you be able to pick this one up and let me know what you need to make it happen?

[2018-05-25 02:35] AshKyd commented on #53
Sounds awesome! Are you okay to take this one and run with it?

I know we'll have a projector downstairs, but if this is a go-er we will need to get a tv+compute in the quiet space in #14.

[2018-05-25 02:40] justindra commented on #46
Just curious, did you guys have Telstra to sponsor the internet last time or do you just purchase some 4G cards?

[2018-05-25 02:47] digitalcraft commented on #46
I’m happy to assist again.
Still have the VMs from last time.

Last time I purchased a few data sims.

On Fri, 25 May 2018 at 12:40 pm, Justin Rahardjo <notifications@github.com>
wrote:

--

*Jeff Lynne*
Technical Director
jeff@digital8.com.au

[2018-05-25 03:40] mcne65 commented on #52
Happy to help you but does not need to just to be only book swap only.

[2018-05-25 03:42] mcne65 commented on #50
I'd be keen to host the arts and crafts part in this quiet space as well

[2018-05-25 03:45] mcne65 commented on #47
The last Ruby on Rails camp I went to, we stopped at Dan Murphys for the alcohol to be refrigerated but it was for 18+ over only.

[2018-05-25 04:25] AshKyd commented on #52
Fair point. I've invited you to the org so you can be assigned this issue. Thanks!

[2018-05-25 04:27] AshKyd commented on #50
Cool, can you please create an issue for the arts and crafts activity you're wanting to host so we know what it is & can make sure folks know about it?

[2018-05-25 04:49] thissophie commented on #46
Looks like ovo (one of the providers we used last time) now offers 150GB for $90.

Having checked the coverage maps, vodafone & optus are unlikely to be super fast (and likely require an outdoor an antenna, but I think @digitalcraft used one last time anyway). Telstra look like they might have 4G (up to 50Mbps) but at $90 for 42GB aren't particularly cheap.

[2018-05-25 04:53] thissophie commented on #53
:+1:

I will do some testing to make sure it'll work, but I can bring a couple of small computers for that, so it'd just be tv & networking cable (but I know we'll have enough of that)

[2018-05-25 04:53] digitalcraft commented on #46
Koonjewarre has basic ADSL internet (am assuming its the same location
again).
It would be good to have some 4g to supplement it.

I might try to organise a g-hangout/skype with Pat + anyone else interested
in this early next week (Mon/Tue) and we can hash it all out.

Last time I tried to use NPM enterprise appliance and it was a massive flop.
I'll definitely be looking into some sort of npm cach

[2018-05-25 04:57] thissophie commented on #46
Sounds good @digitalcraft

[2018-05-25 06:09] AshKyd commented on #46
I'm hoping we can go 4G-only, so we can reserve the landline for a dedicated audio link to the caption provider. Do you reckon that's feasible? Or do you have any other thoughts?

[2018-05-25 06:11] digitalcraft commented on #46
https://www.taleas.com/memes/what-if-i-told-you-anything-is-possible.html

On Fri, May 25, 2018 at 4:09 PM, Ash Kyd <notifications@github.com> wrote:

--

*Jeff Lynne*
Technical Director
jeff@digital8.com.au

[2018-05-25 12:18] thissophie commented on #46
I think I remember someone saying they might know of a way we could get a long range wifi link... now if I could remember who, or where they said it...

[2018-05-26 01:33] mcne65 opened #54 "Arts and Craft Activities"
This may be hosted by Sirani or someone else in the designated quiet space

Would like to teach knitting, embroidery and card making. I am open to do let everyone do their different arts and crafts activities at the same time, just may need two more people to assist me depending on the number of people there are. I would like to run this ideally at lunchtime or at night

[2018-05-26 01:40] AnnaGerber commented on #17
After discussion (in person) the badges instead of lanyards idea has traction. We can also make smaller badges as swag / a fun activity. What we'll need:

1. Prepare campsite artwork for the badges - the badge sizes are 58mm for the name badges and 25mm diameter for the souvenir badges. The name badge artwork should have plenty of clear space for people to write their name / social handle / job ti

[2018-05-26 01:46] AnnaGerber commented on #19
Another suggestion is DIY small button badges see #17

[2018-05-26 02:03] AnnaGerber opened #55 "Ludlam Dare game jam"
From Nathan on the wealljs slack:

"The next Ludum Dare is on during CampJS so I thought it might be interesting to suggest it as a side activity" https://ldjam.com/

"Ludum Dare is one of the world's largest and longest running Game Jam events. Every 4 months, we challenge creators to make a game from scratch in a weekend."

It starts at 8am on the Saturday morning

Ideas to support this:

- Prov

[2018-05-26 08:20] AshKyd commented on #19
That sounds great. Unless anyone specifically wants to work on any other merch I'm going to close this one and continue the work in #17 :D

[2018-05-26 12:46] cathylill commented on #25
@AshKyd yep I think it was just a way to spread out the 4hrs to keep costs down, so we weren't paying for childcare during lunch just while (some) talks we're on. It never went ahead in the end though so don't know if it would have worked well. It got pretty complicated working out how to price kids and partner tix and accom too, not sure if anyone ended up taking kids, I couldn't make it as it tu

[2018-05-30 23:39] nathanhoad commented on #55
I'm happy to put together a list of resources, etc.

[2018-06-01 10:33] AshKyd opened #56 "Campfire Jam"
Do you sing or play the ukulele / guitar/ kazoo? Do you want to learn? Come make some noise with us!

[2018-06-03 12:04] mcne65 commented on #51
I have already done my part in it but I don't think anyone has had a look since it's only partially completed because didn't get a chance/time to look through everything properly. Please could you extend more time for folks also next time since this was a really long submission

[2018-06-03 12:08] mcne65 commented on #20
Alright then, I'll have a look when I get the chance. Sorry it has been hectic in the last month or so, so haven't had much of an opportunity to gather more information.

[2018-06-03 12:14] mcne65 commented on #50
Alright I can take this onboard.

[2018-06-03 20:05] AshKyd commented on #51
Sorry @mcne65 we had to have the deadline because we need to get back to speakers (it's only 2 months away). I'm sure you saw, there were a _lot_ of good talks, so we're working out the final details now and I'm planning to email the speakers… when I have time to breathe :joy:

[2018-06-04 09:59] mcne65 commented on #51
I do know that but it didn't give me enough time to look at it like you just said and the emails to the speakers. Though I'd love to help you out on half of it if they are successful or not - let me know.

[2018-06-06 09:40] AshKyd commented on #47
Kartik is going to chase this one up.

[2018-06-06 09:49] AshKyd commented on #20
Modified from the previous GC camp:

FROM Coolangatta Airport
BUS 1 - 48 seater

 14:00 - Pick up Airport
 14:45 - Pick up Varsity Lakes Train Station
~15:00 - Stop off at Dan Murphy's Robina (tbd in #47)
~16:30 - Koonjewarra (~50 mins on Google Maps)

BUS 2 - 28 seater

 17:00 - Pick up Airport
 17:45 - Pick up Varsity Lakes Train Station
~18:00 - Stop off at Dan Murphy's Robina (tbd in #47)
~19:

[2018-06-08 11:39] AshKyd commented on #20
Here's a draft schedule. I've sent this to a few folks for organizing flights, so we'll need to make sure the airport and train connections don't change. http://ix.campjs.com/schedule/

[2018-06-09 08:35] AnnaGerber commented on #54
I would be happy to bring along some yarn from my stash for people who want to learn knitting / crochet

[2018-06-11 11:36] AshKyd opened #58 "Work out how things are gonna work + what we need help from volunteers with"
Need to work out what needs to be done on the weekend (bins, code of conduct/a roster of sober folks, someone to help out with the badge machine, other?)

We can then approach volunteers who can commit to helping out.

[2018-06-11 11:41] AshKyd opened #59 "Announce speakers"
*

[2018-06-11 11:42] AshKyd opened #60 "Release tickets"
* publish
* announce to mailing list
* update website

[2018-06-11 11:58] AshKyd commented on #14
@MauriceButler you mentioned you were keen to help out with this one. Would you be able to help get us a quote for these items?

[2018-06-11 12:01] AshKyd commented on #51
There's a lot that could have gone better with this process. I'm going to make a personal note to write up the successes & failures we had here.

[2018-06-11 12:01] #51 closed

[2018-06-11 12:04] #32 closed

[2018-06-11 12:05] #9 closed

[2018-06-11 12:05] #6 closed

[2018-06-11 12:06] AshKyd commented on #15
Not really sure where these are going to go, actually. It's a grassy hill, so we're not going to be able to have standing heaters. Having resently visited the venue, what are your current thoughts @gupta-kartik?

[2018-06-11 12:12] AshKyd commented on #17
To reiterate, we're looking for a volunteer on the badge press for Friday Night when people are arriving to help with making the name badges. Can anyone help out?

[2018-06-11 12:25] MauriceButler commented on #14
:+1: been hunting for the previous supplier but no luck so far, will start the search for one.

[2018-06-11 12:30] AnnaGerber commented on #15
I don't recall having standing heaters at Koonjewarre before (it is not as cold as the Melbourne venue, and the talks are indoors).

[2018-06-12 00:03] AshKyd commented on #15
In that case I'm going to close this one for now. Let's reopen it if necessary.

[2018-06-12 00:03] #15 closed

[2018-06-12 00:07] gupta-kartik commented on #15
I can ask the guy at Koonjewarre if they have some heaters we could use?

[2018-06-12 13:08] gupta-kartik opened #61 "Update Footer to Include Company Name"

[2018-06-13 06:13] #61 closed

[2018-06-14 15:36] gupta-kartik commented on #60
Released tickets

[2018-06-15 08:01] AshKyd opened #66 "Update mailing list default mailout"

[2018-06-15 08:02] AshKyd opened #67 "Email mailing list with ticket info"
@gupta-kartik you haven't done this yet have you? I'll aim to do that on the weekend.

[2018-06-15 08:02] AshKyd opened #68 "Update the website to clarify what's included"

[2018-06-15 08:06] AshKyd commented on #66
Updated the default email that sends out 24 hours after you sign up.

[2018-06-15 08:06] #66 closed

[2018-06-15 08:43] AshKyd commented on #47
Crap, committed directly instead of making a PR. @gupta-kartik can you have a sneaky peek at that last commit and see if you agree with the sentiments?

[2018-06-18 00:28] MauriceButler commented on #14
FYI, requests put out to 5 different suppliers, 1 has come back on Friday and said can do and will come back with pricing this week...

If I dont hear back from others Ill do another round requests.

[2018-06-18 00:39] gupta-kartik commented on #47
Looks good @AshKyd

[2018-06-18 10:22] AshKyd commented on #47
@gupta-kartik did you manage to clear this with legal?

[2018-06-18 23:39] MauriceButler commented on #14
OK first actual quote back attached. These people were actually very responsive, asked about the needs and were very helpful.

Additionally, they have quoted an alternative to the 6’ Screen and Projector a 65” LCD Panel at a cost of $400.00 pls GST each.

They can also provide someone to sit there all day and run the equipment but I figured we could handle that ourselves?

~[CampJS AV C050654-0000

[2018-06-19 01:49] gupta-kartik commented on #14
Thanks for that @MauriceButler but we wont be able to spend that kind of money for the av hire. We were going off of the quote from last year (CampJS VIII) here https://github.com/campjs/campjs-viii/blob/master/org/quotes/av-hire.pdf

[2018-06-19 01:50] gupta-kartik commented on #14
We can organise the pick up and delivery to save some cash incase it's expensive

[2018-06-19 03:30] gupta-kartik commented on #47
Hey @AshKyd yes I did. I have sent you and @garrows their response via email. The long and short of it is, we can't provide or sell alcohol. Nothing is mentioned about BYO. Will chase them up to confirm BYO.

[2018-06-19 05:16] MauriceButler commented on #14
:+1: this is just first one to respond Ill add the others as they come in.

[2018-06-20 23:49] MauriceButler commented on #14
~Just waiting on confirmation if this is total cost or each pricing ($1155 vs $3465)~

[code]

[2018-06-21 01:17] andrew-stirling commented on #59
Any timeline available on this? Need to get sign-off to purchase tickets.

[2018-06-21 03:25] nathanhoad commented on #55
I'll flesh out the some details about each thing but the list so far is:

# Engine

* Phaser

# Art

* Aseprite
* LibreSprite (free but old version of Aseprite)
* Piskel

# Level building

* Tiled
* OGMO

# Sound/Music

* BFXR
* GarageBand (plus Magical 8Bit Plugin?)

# Bundling/distribution

* Electron
* npm-icns (deprecated but still useful)

[2018-06-24 08:13] #67 closed

[2018-06-24 21:34] AshKyd commented on #11
From what @gupta-kartik said, they don't have landline internet, so any captioning would be in contention with the regular Internet which isn't good enough to do anything with. Unfortunately I don't think this one is viable.

If anyone has any other suggestions for how we could make this work with these limitations, please let me know.

[2018-06-24 21:34] #11 closed

[2018-06-24 21:44] AshKyd commented on #59
@andrew-stirling No, we're still waiting for folks to confirm, but we have a couple of talks on the site already http://ix.campjs.com/speakers/

[2018-06-24 21:46] AshKyd commented on #38
We had feedback that some folks mightn't have known how to answer the questions at ticketing time, but the ticketing process lets you change these after the fact so it's probably okay.

[2018-06-24 21:46] #38 closed

[2018-06-24 23:24] AshKyd commented on #22
I'm closing this one 'cos we don't have a liquor license.

[2018-06-25 01:22] #35 closed

[2018-06-25 02:42] AshKyd opened #72 "How do folks bring their family to CampJS"
As per #70.

Do the number of beds map 1:1 to the number of tickets? As in, do we lose out on a regular priced ticket for each child we add? What's a fair price for this?

[2018-06-25 02:42] AshKyd commented on #72
@garrows what happened with this last time?

[2018-06-25 02:58] AshKyd commented on #49
I've emailed through these questions.

[2018-06-25 11:45] mcne65 commented on #49
While it is a shame that there won't be any live captioning available for this, would you have a speakerphone and ask if people have a GitHub to put their slides up?

[2018-06-25 11:45] mcne65 commented on #68
Would you like me to help you on this part?

[2018-06-25 11:52] MauriceButler commented on #72
This is the first time families have been offered at Koonjewarre.

As far as private rooms there are 7 (possibly 8) rooms that have 8 bunks in them and a private bathroom. At least 1 of these is usually the dedicated female dorm.

Might be worth a call to Koonjewarre as I think they do have some smaller private rooms that might be better for families but I don't think they have been offered to us

[2018-06-25 11:57] MauriceButler commented on #14
So it seems no one else could even be bothered to return the initial inquiry.

At this point these are the 2 options we have.

I still dont have a confirmation on if projector hire is each or total so I will case that again.

I will go back to microhire and see what they can do for around the $1k mark

[2018-06-26 06:37] MauriceButler commented on #14
Updated the above comments. seems to me projectorhire.com.au wins

@gupta-kartik @AshKyd someone want to take it from here and book + funds etc ?

[2018-06-26 06:40] gupta-kartik commented on #14
Thanks so much for that @MauriceButler
Do you have an email thread you could cc me on or forward it to me, and I can take it from there
kartik@campjs.com

[2018-06-26 06:46] MauriceButler commented on #14
:+1: done

[2018-07-02 03:35] whatevergeek commented on #56
as discussed in the channel... in some of our uke jam events in singapore, we just browse through a song book... and if anyone is familiar with the song... we just jam it... chords/lyrics are flashed on screen.... sometimes we use this songbook: https://ukulelewednesdays.com/songbook/ anyway, adding here for reference... feel free to let me know if there's anything i can help :-) (i'm bringing my

[2018-07-02 13:27] AshKyd commented on #47
David at Koonjewarre says their insurance is fine for BYO.

[2018-07-02 13:28] AshKyd commented on #25
There is appropriate space in The Farmhouse for this, according to David of Koonjewarre.

[2018-07-02 13:29] AshKyd commented on #15
Crap, I didn't have this on my list of questions to ask for some reason. I reckon we'll be fine without it unless anyone has major objections.

[2018-07-02 13:33] AshKyd commented on #27
Re accessibility, David says the venue is wheelchair accessible, and service dogs are welcome. The Farmhouse has accessible shower and toilet facilities.

My take is that it's really only _partially_ accessible because
1. The ramp from downstairs to upstairs is quite steep, and according to David wheelchairs "would need to be pushed".
2. The Farmhouse is on the other side of a gravel driveway, so

[2018-07-03 11:47] gupta-kartik commented on #15
Can we still email him to be sure? I'll add it to the list of questions to ask him in round 2.

[2018-07-03 12:00] #47 closed

[2018-07-09 03:21] gupta-kartik commented on #20
Quotes received. 2 buses, both 48 seaters according to above plan. Paying for them now.

[2018-07-09 03:37] gupta-kartik opened #74 "Stickers and Swag"
1. - [ ] Stickers with the logo?
2. - [ ] Iron-on Patches?
3. - [ ] Tees?
4. - [ ] Blankets?
5. - [ ] Space copters?

Please let me know your thoughts below. What's the official swag of CampJS?

[2018-07-09 10:44] gupta-kartik commented on #74
NB: Sticker Mule

[2018-07-09 10:47] gupta-kartik opened #75 "Message Volunteers with Info"
* Ticket sales

[2018-07-09 10:50] gupta-kartik opened #76 "Subtract speakers for Tito numbers"

[2018-07-09 10:50] gupta-kartik commented on #76
Give Nathan a ticket - through promo code

[2018-07-09 10:51] gupta-kartik commented on #76
We have 10 speakers? @AshKyd

[2018-07-09 10:52] gupta-kartik opened #77 "Organise D&O for TEL"

[2018-07-09 10:56] gupta-kartik commented on #21
@justindra Hi, Are you still available for this. Apologies for the late reply?

[2018-07-09 10:57] gupta-kartik opened #78 "Code in the dark"

[2018-07-10 01:25] iamkevinv commented on #14
Having only just landed here... for what it's worth, myself and the wife transported AV gear for the camp back in Oct 2014.
Sourced from Velvet Systems, Glenn Marshall (technical director av division - glenn@velvetsystems.com), 2/70 Lavarack Ave, Eagle Farm QLD 4009.

Original text from Glenn's quote was:

I also have the original invoice from CampJS melb circa June 2015 for 5 projectors, 5 100" s

[2018-07-10 01:30] iamkevinv commented on #55
Woot woot!

[2018-07-10 04:57] justindra commented on #21
@gupta-kartik Sorry completely forgot about this as well. Not sure if I'll be able to be there the whole weekend anymore. When do you need me to get back to you by to confirm?

[2018-07-10 05:04] gupta-kartik commented on #21
Soon would be good @justindra

We can support you in case you want to do just photography

[2018-07-10 12:04] AshKyd commented on #76
We have 11 tickets we need to send out, including workshops. The _CampJS IX 2018 - Call for Papers (Responses)_ sheet in the organization lists who these folks are. I've yet to get them all up on the site.

[2018-07-10 23:03] loklaan commented on #78
👋

Hey folks!

I've had a lot of fun at the "evening/after-talk" events at CampJS in the past. I thought it might be fun to pursue a html/css competition for camp IX: Code in the Dark!

# What is [Code in the Dark](http://codeinthedark.com)

_[Code in the Dark](http://codeinthedark.com) is a front-end (HTML, CSS) competition, originating from [Tictail](https://tictail.com), where each contestant c

[2018-07-14 03:23] AnnaGerber commented on #74
I thought we were going with badges as swag? See discussion on #19

[2018-07-17 09:18] AshKyd commented on #78
I can bring some Lifx bulbs to set the scene if nobody has anything better.

Also at this rate I doubt we'll have much budget to throw at it, so it might have to be a little more home-grown.

[2018-07-17 10:27] AshKyd commented on #59
@andrew-stirling if you've signed up for emails on the site you would have just got an announcement. Otherwise they're on the site 👍

[2018-07-18 23:19] margalit commented on #78
I can bring three more Lifx bulbs to the party—this sounds like fun!

[2018-07-19 00:10] margalit commented on #40
![image](https://user-images.githubusercontent.com/2268424/42988278-51cc9460-8c3f-11e8-878c-7f2f9162af5e.png)

I quickly knocked together a template here: https://docs.google.com/document/d/1B7YihTpoVO2x-5OIoeGrUK-DuAiK32RUiNZcQsRzKs0/edit?usp=sharing

If no-one else picks up this issue, I’ll fill out the above signage when I get a chance.

[2018-07-19 02:43] loklaan commented on #78
Cheers @margalit @AshKyd - these are good for ambience! Bring 'em for sure.

I'll look into light hire / borrow as well, in an effort to try and top the lighting off with some line-strobes etc.

[2018-07-19 05:28] AshKyd commented on #40
That looks awesome, thanks @margalit.

[2018-07-20 00:55] gupta-kartik commented on #20
Booked

[2018-07-20 00:55] #20 closed

[2018-07-20 02:22] AshKyd opened #80 "Tables & chairs"
Do we need to hire any extras to accommodate 150 folks? Need to call the venue and confirm.

Would be good to get a few outdoor settings w umbrellas for folks to work outside.

[2018-07-20 02:23] AshKyd opened #81 "Powerboards & cables"
Hey Glen, do we have a stash of power cables etc somewhere? Can you please let me know what happened last time.

[2018-07-20 02:24] AshKyd opened #82 "Communications + volunteers for airport pickup"
We need to:

* work out who's flying in, and when
* find 2x volunteers to be at the airport for the early and late pickup
* communicate with attendees what's happening

[2018-07-20 02:27] AshKyd opened #83 "Allocate cabins according to preferences"
Tally accommodation preferences on ti.to, then use that to divide up the cabins accordingly.

These will need to be labelled appropriately, which can be done in #40.

[2018-07-20 02:29] AshKyd commented on #48
Someone mentioned there was a mobile fridge trailer at a previous camp. @garrows do you have the detail?

[2018-07-20 02:34] AshKyd opened #84 "Update sponsors on the website"

[2018-07-20 02:44] AshKyd opened #85 "Schedule schedule + update website"
* plan out the weekend
* update the website with the final(ish) schedule (incl. label for keynote speakers)

[2018-07-20 02:50] AshKyd opened #86 "Email speakers their tickets"

[2018-07-20 02:53] AshKyd commented on #21
I think we should bring in some folks to do another promo video for future camp(s).

[2018-07-20 02:55] AshKyd commented on #17
@AnnaGerber do you need me to help with any of this stuff?

[2018-07-20 03:00] AshKyd commented on #84
@gupta-kartik can you put together a spreadsheet or something for these ones? Thaaaaanks! 🎉

[2018-07-20 03:01] #49 closed

[2018-07-20 03:02] AshKyd opened #87 "Accessibility statement"
Do it, Ash. Do it now ffs.

[2018-07-20 03:02] #87 closed

[2018-07-20 03:02] AshKyd commented on #87
Duplicates #27

[2018-07-20 07:03] margalit commented on #40
I have updated the above link to include signage for the following (an (x) marks a complete however I would appreciate someone checking over them):
- [x] Saturday Schedule
- [x] Sunday Schedule
- [x] Code of Conduct
- [x] Women’s Dorm
- [x] All-gender Dorm
- [x] Family Dorm
- [x] Snorer’s Dorm
- [x] All-gender Bathroom
- [x] Childcare Area
- [x] Camping Area
- [x] Quiet Space
- [x] Register Here (

[2018-07-20 11:12] AnnaGerber commented on #17
Still need help with:

- finding volunteers who can help out on the badge press.
- finalising templates for the badges

[2018-07-20 11:20] AnnaGerber commented on #78
I have many metres of individually addressable WS2812b super bright RGB LED light strips as well as a pixel matrix (can be programmed to display scrolling text, pixel art etc) that I could bring to contribute to the lighting

[2018-07-20 13:59] thissophie commented on #82
I arrive at Gold Coast airport @  12:30pm, which I think is a couple of hours before the early bus - so I’m happy to help out with that.

[2018-07-21 00:33] AnnaGerber opened #88 "Transport spreadsheet"
Set up a transport spreadsheet for people who want to co-ordinate car pooling

[2018-07-25 04:12] gupta-kartik commented on #74
We are. I ordered a limited number of stickers due to popular demand.

[2018-07-25 04:12] #74 closed

[2018-07-25 10:17] gupta-kartik commented on #83
We'll do final allocations on the day using signs on the door like last time.

So far after 71 tickets registered and 76 bought:

- [ ] Females Only - Dorm
- [ ] Mix - Dorm
- [ ] Snorers - Dorm
- [ ] Tent/Camping - Outside
- [ ] Family Room - Family Unit
- [ ] Own
- [ ] Unknown

![image](https://user-images.githubusercontent.com/205256/43195258-d8ce5898-9047-11e8-8580-acd28a757cbf.png)

Original m

[2018-07-25 10:19] gupta-kartik commented on #80
Emailed David from Koonjewaare regarding chairs. He will do a count and get back to us.

[2018-07-25 11:28] Anaizing commented on #21
Hi! I can also do photography if you need a second person. I have all the photography equipment required. And I am available to attend the entire event.

😄 📸 👌

[2018-07-25 12:46] gupta-kartik commented on #17
@AnnaGerber do we have anyway to distinguish photography and no photography with badges? do we make an additional badge for no-photography participants?

[2018-07-25 12:48] gupta-kartik commented on #85
Done. Needs review from you @AshKyd https://github.com/campjs/campjs-ix/pull/89

[2018-07-25 15:14] Anaizing commented on #17
I've put my hand up to do the photography throughout the event, but I can also help out on the badge press too!

On Mon, 11 Jun. 2018, 10:12 pm Ash Kyd, <notifications@github.com> wrote:

[2018-07-25 22:59] AshKyd commented on #81
Yes! Geoff has some and Glen has some. There's a giant box of CampJS stuff.

[2018-07-25 23:00] AshKyd commented on #48
Damon probably has these details.

[2018-07-30 02:36] #85 closed

[2018-07-30 03:29] gupta-kartik commented on #84
@AshKyd

Type | Company Name
-- | --
Platinum | Credit Sense
Platinum | PCCW Global
Gold | Culture Amp
Diversity and Coffee | Lookahead Search
Network | Funcaptcha
Drinks | REX
Meal | Bloqspace

[2018-07-30 03:30] gupta-kartik commented on #84
[Sponsors Logos.zip](https://github.com/campjs/campjs-ix/files/2239592/Sponsors.Logos.zip)

[2018-07-30 03:51] #76 closed

[2018-07-30 03:53] gupta-kartik commented on #48
Got quote for a 2 door commercial fridge.

[2018-07-30 03:55] gupta-kartik commented on #82
@thepatrick thank you so much!

Can I contact you using the contact details you registered for the ticket to discuss the finer details?

[2018-07-30 03:55] gupta-kartik commented on #82
Now we just need a second volunteer for the later bus

[2018-07-30 03:56] gupta-kartik commented on #81
Woohoo

[2018-07-30 03:56] #81 closed

[2018-07-30 03:57] gupta-kartik commented on #46
@garrows tagging you here as you're taking care of this

[2018-07-30 04:01] gupta-kartik commented on #21
@Anaizing Thanks for that! Can you please send me an email on kartik@campjs.com and I can get this sorted for you. Do you have some previous work examples?

[2018-07-30 04:06] thepatrick commented on #82
@gupta

[2018-07-30 04:07] thissophie commented on #82
@gupta-kartik yep. I'm also on slack (as `patrick`).

[2018-07-30 04:12] gupta-kartik opened #90 "Update Speakers with Keynote Talks"
Asked Speakers for the following:

1. A high-resolution photograph of yourself
2. A short speaker bio (with links, if you’d like)
3. Your name as you’d like us to use it in our publications
4. Your job title, as you’d like us to use it (if desired)
5. Your company or affiliation name, as you’d like us to use it (if desired)
6. Your talk title & synopsis

[2018-07-30 04:14] gupta-kartik commented on #90
- [x] A high-resolution photograph of yourself
- [x] A short speaker bio (with links, if you’d like)
- [x] Your name as you’d like us to use it in our publications
- [x] Your job title, as you’d like us to use it (if desired)
- [x] Your company or affiliation name, as you’d like us to use it (if desired)
- [x] Your talk title & synopsis

*Kevin Vanderbeken*
Senior Software Engineer at PCCW Global

[2018-07-30 04:14] gupta-kartik commented on #90
- [ ] A high-resolution photograph of yourself
- [x]   A short speaker bio (with links, if you’d like)
- [x]   Your name as you’d like us to use it in our publications
- [x]   Your job title, as you’d like us to use it (if desired)
- [x]   Your company or affiliation name, as you’d like us to use it (if desired)
- [x]   Your talk title
 - [ ]   Your talk synopsis

“JavaScript can do anything, and

[2018-07-30 11:46] AshKyd commented on #17
That sounds amazing, thanks a bunch.

[2018-07-30 12:23] #84 closed

[2018-07-30 12:23] #90 closed

[2018-08-01 02:43] margalit commented on #40
Schedules added as per http://ix.campjs.com/schedule/ August 1st.

[2018-08-05 06:28] #80 closed

[2018-08-05 06:56] #86 closed

[2018-08-05 06:57] #48 closed

[2018-08-05 06:57] gupta-kartik commented on #48
Ordered.

[2018-08-05 07:18] AnnaGerber commented on #88
Bus options were already in the ticket registration, so here's a spreadsheet for those who want to organize carpooling
https://docs.google.com/spreadsheets/d/1-mPVXtmskND4sf3cgbrk67rNGHpLF6nua4bmScgJkLc/edit?usp=sharing

[2018-08-05 07:27] gupta-kartik commented on #21
https://www.airtasker.com/my-tasks/photography-and-videography-for-2-day-tech-retreat-10858923/review-offers/photography-and-videography-for-2-day-tech-retreat-10858923/8009327/

For the professional Videography

[2018-08-09 04:18] gupta-kartik commented on #82
Anai is doing the other one

[2018-08-14 22:19] AnnaGerber commented on #56
Thanks to everyone who took part in the jam!

[2018-08-14 22:19] #56 closed

[2018-08-14 22:19] #54 closed

[2018-08-14 22:28] AnnaGerber commented on #17
Pics of the badges:
https://twitter.com/khuskhuslen/status/1027837691365183488

[2018-08-14 22:28] #17 closed

[2018-08-14 23:16] whatevergeek commented on #56
Thank you @AnnaGerber for organizing this :-)

[2019-02-20 01:53] iamkevinv commented on #21
Last i heard here, the airtasked videographers have basically taken the money and run, delivering no footage from the event. Can we take action against them @gupta-kartik, or in the very least recover the raw footage if they are unwilling to do further work on cutting/final processing?
For some of us, the recording of the speaking we did has a tangible impact on whether we can continue to argue to

[2019-07-03 03:24] iamkevinv commented on #21
@gupta-kartik - have you made any progress on getting lawyers to send a threatening letter to the videographers? There's still a need to recover the footage to justify sponsorships again and such for this upcoming camp. Even if they handed over raw footage.

[2020-09-30 04:06] #14 closed

[2020-09-30 04:06] #21 closed

[2020-09-30 04:06] #23 closed

[2020-09-30 04:06] #25 closed

[2020-09-30 04:06] #26 closed

[2020-09-30 04:06] #27 closed

[2020-09-30 04:06] #34 closed

[2020-09-30 04:06] #36 closed

[2020-09-30 04:06] #40 closed

[2020-09-30 04:06] #46 closed

[2020-09-30 04:06] #50 closed

[2020-09-30 04:06] #52 closed

[2020-09-30 04:06] #53 closed

[2020-09-30 04:06] #55 closed

[2020-09-30 04:06] #58 closed

[2020-09-30 04:06] #68 closed

[2020-09-30 04:06] #72 closed

[2020-09-30 04:06] #75 closed

[2020-09-30 04:06] #77 closed

[2020-09-30 04:06] #78 closed

[2020-09-30 04:06] #83 closed

[2020-09-30 04:06] #88 closed